@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --text-color: #777;
}



/* Media queries */

/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
} 
/* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }    
}
/* x-Large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* End Global Rules */

/* Start Components */

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Components */

/* Start Skills Icons */
.info {
    text-align: center;
}
/* أيقونه PHP */
.icon1 {
    color: rgba(66, 37, 255, 0.865);
    font-size: 4em;
    text-align: center;
}
/* Js أيقونه  */
.icon2 {
    color: rgb(255, 200, 0);
    font-size: 5em;
    text-align: center;
}
/* Css أيقونه */
.icon3 {
    color: #0095ffd5;
    font-size: 5em;
    text-align: center;
}
/* أيقونه Bootstrap */
.icon4 {
    color: #7e0cff;
    font-size: 5em;
    text-align: center;
}
/* أيقونه HTML*/
.icon5 {
    color: #ff5100d2;
    font-size: 5em;
    text-align: center;
}
/* أيقونه Github*/
.icon6 {
    color: #252525;
    font-size: 5em;
}

.info h3{
    color: #483985;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* End Skills Icons */

/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features p {
   font-size: 17px;
   color: var(--text-color);
   line-height: 1.8;
}

/* End Features */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .project-card {
    background-color: white;
}
.portfolio .portfolio-content img {
    max-width: 100%;
}
.portfolio .portfolio-content .project-card .info {
    padding: 20px;
}
.portfolio .portfolio-content .project-card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .project-card .info p {
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio */

/* Start Footer */
/* أسفل جزء في الصفحة */
.footer {
    color: white;
    padding: 0.6em;
    display: flex;
    justify-content: center;
}

/*العناوين المكتوبة في أسفل الصفحة */
.footer-title {
    font-size: 1em;
    font-weight: 600;
}

/* الكلمة الي جنب كوبي رايت */
.footer-title span {
    color: #000000;
}

/* الأيقونات في أسفل الصفحة */
.footer .social-icons a{
    font-size: 1.1em;
    padding: 0 12px 0 0;
}


/* أيقونات وسائل التواصل */
.social-icons a{
    color: #ffffff;
    font-size: 1.9em;
    padding-right: 30px;
}
/* End Footer */