@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --text-color: #777;
}



/* Media queries */
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
} 
/* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }    
}
/* x-Large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* End Global Rules */

/* Start Components */

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Components */

/* تخصيص راس الصفحة */
header {
    width: 100%;
    z-index: 999;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 10px 120px;
}
/* الشعار أو البراند في راس الصفحة */
.logo{
    text-decoration: none;
    font-size: 1.8em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
/* الأزرار في أعلى الصفحة جهه اليمين */
.navigation a{
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    margin: 15px;
    border-radius: 25px;
    transition: 0.3s ease;
}
/* عند التمرير على الأزرار  في أعلى الصفحة يحدث تغيير */
.navigation a:hover{
    background-color: #ffffff;
    border-radius: 15px;
    color: #000;
}
/* التعديل على العناصر المكتوبة في منتصف الصفحة */
section {
    padding: 100px 200px;
}
/* خلفية الصفحة القسم الأول */
.main {
    width: 100%;
    min-height: 78vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 1900px;
    background: linear-gradient(300deg ,rgb(98, 213, 255), rgb(0, 119, 188));
}

/* تخصيص كلمة Hello iam Faisal */
.main h2 {
    font-size: 1.4em;
    font-weight: 700;
}
/* تخصيص وظيفتي  */
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    white-space: nowrap;
}
/* تخصيص عبارة I build Beautiful Websites */
.main h3 {
    color: #000000;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* تخصيص الزر الخاص بإستعراض المشاريع */
.main-btn {
    color: rgb(255, 255, 255);
    background-color: #0095ff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 40px;
    transition: 0.5s ease;
}
/* تخصيص الزر عند تمرير الماوس عليه */
.main-btn:hover {
    background-color: #0061e8;
    transform: scale(1.1);
}
.main img {
    margin-right: 1000px;
    /* width: 550px; */
}
/* أيقونات وسائل التواصل */
.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}
/* My Skills تخصيص عنوان */
.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.title1 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 30px;
}
/* تخصيص أبعاد الكروت Css Js HTML */
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/* تخصيص وتصميم الكروت بالظلال وبطريقة التفاعل بشكل كامل  */
.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    /* border-radius: 10px; */
    padding: 20px;
    margin: 15px;
    transition: 0.5s ease;
    cursor: pointer;
}
/* تحريك الكرت عند تمرير الماوس عليه */
/* .card:hover {
    transform: scale(1.1);
} */
/* الأيقونات داخل الكروت */
.icon {
    color: #483985;
    font-size: 8em;
    text-align: center;
}
/* المعلومات داخل الكروت */
.info {
    text-align: center;
}
/* أيقونه PHP */
.icon1 {
    color: rgba(66, 37, 255, 0.865);
    font-size: 4em;
    text-align: center;
}
/* Js أيقونه  */
.icon2 {
    color: rgb(255, 200, 0);
    font-size: 5em;
    text-align: center;
}
/* Css أيقونه */
.icon3 {
    color: #0095ffd5;
    font-size: 5em;
    text-align: center;
}
/* أيقونه Bootstrap */
.icon4 {
    color: #7e0cff;
    font-size: 5em;
    text-align: center;
}
/* أيقونه HTML*/
.icon5 {
    color: #ff5100d2;
    font-size: 5em;
    text-align: center;
}
/* أيقونه Github*/
.icon6 {
    color: #252525;
    font-size: 5em;
}

.icon7 {
    color: #17d837;
    font-size: 5em;
    text-align: center;
}

.icon8 {
    color: #000000d2;
    font-size: 5em;
    text-align: center;
}

.info h3{
    color: #483985;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features p {
   font-size: 17px;
   color: var(--text-color);
   line-height: 1.8;
}

/* End Features */


/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio */

/* لون خلفية المشروع */
.projects {
    /* background-color: #363636; */
    background: linear-gradient(180deg ,rgb(98, 213, 255), rgb(0, 119, 188));
}
/* التعديل على أبعاد مشاريعي */
.projects .content {
    margin-top: 30px;
}
/* تعديل الكروت تبع مشاريعي من ناحية الحجم والشكل */
.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    cursor: pointer;
}
/* تغيرر الكرت عند تمرير الماوس عليه  */
.project-card:hover {
    transform: scale(1.1);
}
/* تغيير شفافية الكروت في قسم المشاريع */
.project-card:hover .project-image {
    opacity: 0.9;
}
/* عرض الصورة في قسم المشاريع */
.project-image img{
    width: 100%;
}
/* أبعاد المعلومات الموجودة داخل الكرت في قسم المشاريع */
.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
}
/* توزيع العناوين داخل قسم المشاريع */
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px
}

.more-details {
    text-decoration: none;
    color: #363636;
}

.more-details:hover {
    color: #00000097;
}

.contact .icon{
    font-size: 4.5em;
}
/* لون الإيميل والواتس اب  */
.contact .info h3{
    color: #000;
}
/* حجم الخط تبع وسائل التواصل  */
.contact .info p{
    font-size: 1.3em;
}
/* أسفل جزء في الصفحة */
.footer {
    color: white;
    padding: 0.6em;
    display: flex;
    justify-content: space-between;
}

/*العناوين المكتوبة في أسفل الصفحة */
.footer-title {
    font-size: 1em;
    font-weight: 600;
}

/* الكلمة الي جنب كوبي رايت */
.footer-title span {
    color: #000000;
}

/* الأيقونات في أسفل الصفحة */
.footer .social-icons a{
    font-size: 1.1em;
    padding: 0 12px 0 0;
}
/* تضبيط مقاسات الموقع للجوالات  */
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em
    }

    .content{
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
        
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }

    .project-card {
        font-size: 10px;
        padding: 10px 20px;
        margin-left: 10px;
    }
}

